html {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
    /* background-color: grey; */
    margin: 0;
    margin-left: auto;
    margin-right: 0;
    width:50%;
    background-color: #0a192f;
}

#body-container {
    max-width: 1080px;
    /* width: 50%; */
    /* float:right; */
    margin-right:45pt;
    margin-left:auto;
    /* margin-left:50%; */
    margin-top:72pt;
    padding-right:32pt; /* removing 40pt here to add it to every div that doesn't require overflow. */
    /* background-color: #0a192f; */
    /* background-color: darkgrey; */

}

h1 {
    font-size: large;
}

/* section {
    background-color: #FF9100;
} */


span {
    display: block;
}
