:root {
    --highlight-orange: #FF9100;
    --primary-white: #E2E8F0;
    --primary-transparent-white: #E2E8F0D0;
    --secondary-white: #a6adb6;
    --text-color: #94A3B8;
    --inactive-color: #64748B;
    --inactive-transparent-color: #64748B88;
    --body-color: #0A192F;
    --body-transparent-color: #0A192F40;
    --temporary-bg: #FFF0;
    --working-bg: burlywood;
    --hover-box-shadow: #FFFFFF0F;
}

html {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
    margin: 0;
    margin-left: auto;
    margin-right: 0;
    width:50%;
    background-image: radial-gradient(circle 400px at var(--x,100px) var(--y,100px), #1c4ed9 -750%, #05101f 100%);
}

#body-container {
    max-width: 1080px;
    margin-right:45pt;
    margin-left:auto;
    margin-top:72pt;
    padding-right:32pt; /* removing 40pt here to add it to every div that doesn't require overflow. */
}

h1 {
    font-size: large;
}

span {
    display: block;
    color: var(--secondary-white);
    font-size: 11pt;
    margin-top:2pt;
}
