:root {
    --highlight-orange: #FF9100;
    --primary-white: #E2E8F0;
    --primary-transparent-white: #E2E8F0D0;
    --secondary-white: #D8E3F2;
    --text-color: #94A3B8;
    --inactive-color: #64748B;
    --inactive-transparent-color: #64748B88;
    --body-color: #0A192F;
    --temporary-bg: #FFF0;
    --working-bg: burlywood;
    --hover-box-shadow: #FFFFFF0F;
}

html {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

body {
    /* background-color: grey; */
    margin: 0;
    margin-left: auto;
    margin-right: 0;
    width:50%;
    background-color: var(--body-color);
}

#body-container {
    max-width: 1080px;
    /* width: 50%; */
    /* float:right; */
    margin-right:45pt;
    margin-left:auto;
    /* margin-left:50%; */
    margin-top:72pt;
    padding-right:32pt; /* removing 40pt here to add it to every div that doesn't require overflow. */
    /* background-color: #0a192f; */
    /* background-color: darkgrey; */

}

h1 {
    font-size: large;
}

/* section {
    background-color: #FF9100;
} */


span {
    display: block;
    color: var(--secondary-white);
}
