html {
    scroll-behavior: smooth;
    font-family: 'IBM Plex Mono';
}

body {
    background-color: grey;
    margin: 0;
}

h1 {
    font-size: large;
}

section {
    background-color: #FF9100;
}

section:first-of-type {
    margin-top: 80pt;
    /* margin-top: 100pt; */ /*80pt top + 20pt gap */
}

span {
    display: block;
}
