section {
    margin: 0 80pt 0 80pt;
    padding: 20pt 40pt 20pt 40pt;
    scroll-margin-top: 80pt;
}

.section-title {
    font-family: "Patua One", serif;
    font-size: 18pt;
    font-weight: 400;
    font-style: normal;
}

section:nth-of-type(odd) {
    background-color: aliceblue;
}

section:nth-of-type(even) {
    background-color: cadetblue;
}