section {
    margin: 0 80pt 0 80pt;
    padding: 20pt 40pt 20pt 40pt;
    scroll-margin-top: 80pt;
}
.sub-section {
    margin: 15pt 20pt 15pt 20pt;
    display: block;
}

.section-title {
    font-family: "Zilla Slab", serif;
    font-size: 18pt;
    font-weight: 600;
    font-style: normal;
}

section:nth-of-type(odd) {
    background-color: aliceblue;
}

section:nth-of-type(even) {
    background-color: cadetblue;
}

.description {
    /* font-family: 'IBM Plex Mono'; */
    margin: 0pt 20pt;
    font-family: "Zilla Slab", serif;
    font-size: 12pt;
}

.section-subheading {
    display: inline-flex;
    margin: 0;
    font-family: "Zilla Slab", serif;
    font-size: 16pt;
    font-weight: 400;
}

span.location {
    font-size: 12pt;
    display: inline-block;
    /* font-style: italic; */
}

span.location::before {
    content: "- ";
}

span.location::after {
    content: "";
    display: block;
}

span.timeframe {
    text-align: end;
    margin-top: -32pt;
}

.sub-section>div>span.timeframe {
    margin-top: -16pt;
}

#projects>div>span.timeframe {
    margin-top: -18pt;
}

.sub-section>img {
    margin-left:auto;
    margin-top: 10pt;
    display: block;
    width: 125pt;
    height: 125pt;
}

#education>div>div {
    margin-top:-125pt;
    min-height: 125pt;
    margin-right:125pt;
}

#education>div>div>h5 {
    font-size: 13pt;
    margin-bottom: 10pt;
    font-weight: 400;
    font-family: "Zilla Slab", serif;
}

#education>div>div>h5::after {
    content: ":";
}
